form(name="mainForm", role="form", ng-submit='save()', submitted="submitted", novalidate shake-that)
 div(class="panel panel-default main-panel", ng-class="{'box-shadow':showing}")
  div(class="panel-heading")=__('Section')
   include ../includes/main-actions
  div(class="panel-body slide-down", ng-show="$root.showing")
      include ../includes/actions
      div(class="form-group" ng-class="{'has-error': mainForm.code.$invalid && submitted}")
       input(type="text", class="form-control", name="code", id="sectionCode", placeholder=__('Code'), ng-model="item.code" uppercase required autofocus)
      div(class="form-group" ng-class="{'has-error': mainForm.name.$invalid && submitted}")
       input(type="text", class="form-control", name="name", id="sectionName", placeholder=__('Name'), ng-model="item.name" capitalize required)
      div(class="form-group" ng-class="{'has-error': mainForm.description.$invalid && submitted}")
       textarea(class="form-control", name="description", id="sectionDescription", placeholder=__('Description'), ng-model="item.description" capitalize-first required)
