form(class="form-{{name}}", name="mainForm", role="form", ng-submit='save(mainForm)', submitted="submitted", novalidate shake-that )
 div(class="panel panel-default main-panel")
  div(class="panel-heading")=__('User')
   include ../includes/main-actions
  div(class="panel-body", id="main-{{name}}", style="display:none")
      include ../includes/actions
      input(type="email", class="form-control", name="email", id="userEmail", placeholder=__('Email'), ng-model="item.email", ng-readonly="item._id" required)
      input(type="text", class="form-control", name="name", id="userName" placeholder=__('Name'), ng-model="item.name" capitalize-first required)
      include password-inputs