div(class="form-group" ng-class="{'has-error': mainForm.password.$invalid && submitted}")
 input(type="password", class="form-control", name="password", id="userPassword", placeholder=__('Password'), ng-model="item.password", ng-readonly="item.email === userDetails.email" ng-required="item.email !== userDetails.email")
div(class="form-group" ng-class="{'has-error': mainForm.passwordConfirm.$invalid && submitted}")
 input(type="password", class="form-control", name="passwordConfirm", placeholder=__('Password Confirm'), ng-model="item.passwordConfirm", ng-readonly="item.email === userDetails.email" data-match="item.password" ng-required="item.email !== userDetails.email")
div(class="message-match message-block", ng-show="userForm.$error", style="display:none")
    span(class="label label-danger" ng-show="userForm.passwordConfirm.$error.match")=__('Password do not match')