div(class="btn-group pull-right")
    a(href="", class="btn btn-default" ng-click="create()")
     //i(class="fa fa-plus fa-fw")
     =__('New')
    button(type="submit", class="btn btn-default")
     //i(class="fa fa-save fa-fw")
     =__('Save')
    a(class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#")
        span(class="fa fa-caret-down")
    ul(class="dropdown-menu")
        li
            a(ng-click="find(user._id)")
                i(class="fa fa-plus fa-fw")
                =__('Save & New')
             
br