div(class="btn-group pull-right")
 a(class="btn btn-default btn-xs" ng-click="create(true)")
  i(class="fa fa-plus fa-fw")
 a(class="btn btn-default btn-xs" ng-click="show()")
  i(id="items-{{name}}-toggle", class="fa fa-eye fa-fw")