extends layouts/manager

block content
  div(class="container", ng-controller="SectionController")
    include sections/main
    include sections/items
  script(src='/javascripts/app/controllers/SectionController.js', type='text/javascript')