extends layouts/manager

block content
  div(class="container", ng-controller="SettingsController")
    div(class="panel panel-default")
      div(class="panel-heading")=__('Settings')
      div(class="panel-body")
         table(class="table table-striped table-bordered table-hover")
            tr
              th=__('Title')
              th=__('Description')
              th=__('Type')
            tr(ng-repeat='content in contents | orderBy:predicate:reverse')
              td {{content.title}}
              td {{content.description}}
              td {{content.type.name}}
    
  script(src='/javascripts/app/controllers/SettingsController.js', type='text/javascript')