extends layouts/manager

block content
  div(class="container", ng-controller="UserController")
    include users/main
    include users/items
  script(src='/javascripts/app/controllers/UserController.js', type='text/javascript')
