extends layouts/manager

block content
  div(class="container", ng-controller="UserPasswordController")
    div(class="panel panel-default")
      div(class="panel-heading")=__('Password Change')
      div(class="panel-body")
          form(class="form-user", name="userForm", role="form", ng-submit='save()')
              include includes/simple-action
              input(type="email", class="form-control", name="email", id="userEmail", placeholder=__('Email'), ng-model="item.email", ng-readonly="item._id" required)
              input(type="text", class="form-control", name="name", id="userName" placeholder=__('Name'), ng-model="item.name", ng-readonly="item._id" capitalize-first required)
              include users/password-inputs
      
  script(src='/javascripts/app/controllers/UserPasswordController.js', type='text/javascript')